<div class="table">
  <table class="trxns">
    <caption>Transaction History</caption><br>
      <tr class="table_head"> 
        <th>BTC Quantity</th>
        <th>DOGE Quantity</th>
        <th>USD Total</th>
        <th>Price</th>
      </tr>
    
    <% @transactions.each do |transaction|%>
      <tr>
        <td><%= number_with_precision(transaction.btc_total, :precision => 2, :delimiter => ',')  %></td>
        <td><%= number_with_precision(transaction.doge_total, :precision => 2, :delimiter => ',')  %></td>
        <td>$<%= number_with_precision(transaction.usd_total, :precision => 2, :delimiter => ',')%></td>
        <td>$<%= number_with_precision(transaction.price, :precision => 2, :delimiter => ',') %></td>
      </tr>
    <% end %>

  </table>
</div>